body {
  background-color: #f8f8f8;
  font-size: 14px;
  font-family: Verdana,sans-serif;
  margin: 0;
  color: #333;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* ------------------------------------------------------------------------------ */

header {
  height: 100px;
  background: rgba(120, 159, 227,.5);
  border: none;
  transition-property: all;
  transition-duration: 1s;
}

header:hover {
  background: hsl(300,60%,60%);
}

.title {
  font-size: 50px;
  line-height: 100px;
  /* float: left; */
}

/* ------------------------------------------------------------------------------ */

section {
  margin-top: 40px;
}

.skt {
  transform: rotate(270deg);
  /* -webkit-transform-: rotate(270deg); */
  /* transition-duration: .4s; */
  display: inline-block;
  float: left;
  transition-property: all;
  transition-duration: 1s;
}

.skt:hover {
  transform: scale(1.5) rotate(270deg) translate(0,100px);
}

img {
  width: 400px;
  height: 400px;
  border-radius: 100px;
}

/* ------------------------------------------------------------------------------ */

.description {
  width: 400px;
  height: 400px;
  float: left;
  padding-left: 20px;
}

ul {
  list-style: none;
  /* padding-left: 0; */
}

.description h1 {
  font-size: 50px;
}

.description {
  font-size: 20px;
}
.description ul li {
  margin-bottom: 20px;
}

/* ------------------------------------------------------------------------------ */

button {
  width: 150px;
  height: 50px;
  margin-bottom: 20px; 
}

.skt-height {
  /* display: none; */
  opacity: 0;
  transition-property: all;
  transition-duration: 1s;
}

.skt-p {
  opacity: 0;
  transition-property: all;
  transition-duration: 1s;
}

.skt-m2 {
  opacity: 0;
  transition-property: all;
  transition-duration: 1s;
}



@Keyframes spin {
  0% {transform: none;}
  100% {transform: rotate(360deg);}
}

img.moved {
  animation-name: spin;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.clear {
  clear: both;  
}

/* ------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------ */

.test {
  border: 5px solid #759354;
  padding: 20px;
  border-radius: 10px;
}

.test-btn {
  margin: 20px 0 0 80px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px;
}

input[type="range"],
input[type="number"],
input[type="date"],
input[type="color"] {
  margin: 20px 20px 20px 20px;
}

.pad-left {
  margin-left: 40px;
}

label {
  text-shadow: 5px -5px 5px;
  
}

textarea {
  margin-top: 30px;
  position: relative;
  top: 20px;
}

input[type="text"] {
  margin-left: 10px;
}



.unactive {
  position: relative;
}

.test-yellow {
  border: 5px solid yellow;
}

.pink-box {
  width: 100px;
  height: 100px;
  background: pink;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
.blue-box {
  width: 100px;
  height: 100px;
  background: blue;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
.black-box {
  width: 100px;
  height: 100px;
  background: black;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
.pink-box:hover {
  width: 100%;
  height: 100px;
  background: red;
  /* transform: skew(300deg,400deg); */
  /* transform: rotate(720deg); */
}
.blue-box:hover {
  width: 100%;
  height: 300px;
  background: red;
  transform: translate(200px,-200px);
  border-radius: 50%;
}
.black-box:hover {
  width: 100%;
  height: 600px;
  background: red;
  opacity: .2;
  transform: rotate(360deg);
}

#message {
  position: fixed;
  top: 300px;
  left: 0;
  width: 100px;
  margin-left: 10px;
}

.last {
  display: none;
  background: #279191;
  width: 400px;
  height: 400px;
  border-radius: 4px;
  position: fixed;
  top: 20px;
  left: 500px;
  text-align: center;
  padding-top: 100px;
  border-radius: 20px;
}

.last h1 {
  font-size: 40px;
}

.last p {
  font-size: 20px;
  margin-bottom: 50px;
  font-weight: bold;
}

@Keyframes spin2 {
  0% {transform: none;}
  30% {color: blue;}
  50% {font-weight: normal;}
  85% {color: green;}
  90% {font-weight: bold;}
  95% {color: #333;}
  100% {transform: rotate(7200deg);}
}

.active2 {
  animation-name: spin2;
  animation-duration: 2s;
}

.count {
  margin-left: 40px;
}

.p {
  width: 120px;
  
}

.test-blue {
  border: 5px solid #dc57fa;
  padding: 20px;
  border-radius: 10px;
}

fieldset {
  padding: 10px;
}

/* 
.test-blue label {
  position: relative;
  bottom: 40px;
} */

select {
  margin-left: 3;
}

.n {
  margin-left: 40px;
}

.test-skyblue {
  border: 5px solid skyblue;
}

img[src="img/541.png"] {
  opacity: 0;
}

@Keyframes hokkaidou {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.hokkaidou {
  animation-name: hokkaidou;
  animation-duration: 2s;
}

#h-btn {
  vertical-align: top;
  font-size: 1.5em;
  /* position: relative; */
  /* bottom: 200px; */
  /* left: 200px; */
  display: inline-block;
  width: 400px;
  height: 500px;
}

.test-pink {
  border: 2px solid pink;
  height: 500px;
  background-image: radial-gradient(blue,green);
  text-align: center;
  padding-top: 100px;
}
.test-pink h1 {
  font-size: 40px;
  color: pink;
}
.test-pink p {
  font-size: 40px;
  color: pink;
}

button {
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: ease;
}

button:hover {
  box-shadow: 3px 3px 3px 3px;
  border-radius: 5px;
}


.active {
  display: block;
  opacity: 1;
}
/* ------------------------------------------------------------------------------ */
.font-awesome {
  border: 4px solid skyblue;
  padding: 50px;
}

.my_icon {
  font-size: 48px;
  color: pink;
  text-shadow: 10px 10px 4px #333;
}
/* ------------------------------------------------------------------------------ */

#menu {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  background: #4c81e9;
  padding: 8px;
  box-sizing: border-box;
  width: 180px;
  min-height: 100%;
  z-index: -1;
}

#menu ul {
  list-style-type: disc;
}
#main {
  z-index: 10;
  background: #eee;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  transition-property: all;
  transition-duration: 0.4s;
}
#main.menu-open {
  left: -180px;
}
#show {
  float: right;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 20px;
  font-size: 47px;
}


/* ------------------------------------------------------------------------------ */
@media (max-width: 620px) {
  
  header {
    height: 50px;
  }
  
  .title {
    font-size: 20px;
    line-height: 50px;
  }

  section {
    margin-top: 10px;
  }
  
  img {
    width: 150px;
    height: 150px;
    border-radius: 20%;
  }

  
.description {
  width: 100px;
  height: 100px;
  padding-left: 10px;
}


.description h1 {
  font-size: 25px;
}

.description {
  width: 100%;
  font-size: 20px;
  float: none;
}
.description ul li {
  margin-bottom: 10px;
}


button {
  width: 50px;
  height: 40px;
  margin-bottom: 10px; 
}

.skt {
  float: none;
  transform: rotate(270deg);
}

.container {
  width: 80%;
  margin: 0 auto;
}

.btn {
  margin-top: 100px;
  position: relative;
  top: 40px;
}

ul {
  padding-left: 0;
}

.sc1 {
  margin-bottom: 100px;
}

label {
  margin: 10px 10px 20px 10px;
}
input[type="range"],
input[type="number"],
input[type="date"],
input[type="color"] {
  display: none;
}

textarea {
  width: 100%;
  margin-bottom: 40px;
}

.test-btn {
  margin: 10px;
  border-radius: 3;
  width: 100%;
  padding: 2px;
  position: relative;
  right: 15px;
  top: 20px;
}

.last {
  left: 30px;
}

}
